html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  margin: 0;
  background-color: #f8f8f8;
  padding-top: 0px;
}

header.top-header {
  background: rgb(0, 0, 0);
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo{
  padding: 10px;
}

.top-nav a:link, .top-nav a:visited {
  display: inline-block;
  padding: 10px 15px;
  background-color: #242955;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: all .35s ease-out;
}
.top-nav a:hover, .top-nav a:active {
  background-color: #4c5297;
}

footer {
  background-color: #242955;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
}

.nav-social a:link, .nav-social a:visited {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 8px;
  margin: 0 0 0 5px;
  transition: all .35s ease-out;
}
.nav-social a:hover, .nav-social a:active {
  background-color: rgba(255, 255, 255, 1);
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1140px;
}
.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1.title { 
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #242955;
  font-size: 24px;
  margin: 30px 0 10px;
  padding: 0 0 10px 0;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
}
.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex: 1 0 0%;
  flex-direction:column;
  margin: 10px;
  min-width: 0;
  padding: 10px;
  word-wrap: break-word;
}
.card img {
  max-width: 100%;
  border-radius: 8px;
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
  transition: all .35s ease-out;
}
.card:hover img {
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}
.card .card-img {
  height: 185px;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  max-width: 100%;
  border-radius: 8px;
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
  transition: all .35s ease-out;
}
.card .card-img:hover {
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}
.card h2 {
  font-size: 20px;
  color: #555;
  margin: 10px 0 0;
}
.card p {
  margin: 10px 0;
  line-height: 1.35;
  color: #333;
  text-align: justify;
}
.card-body {
  flex: 1 1 auto;
}
.card-footer {
  text-align: right;
}
.btn {
  display: inline-block;
  background-color: #242955;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none
}

/* Seccion paginas internas (recetas) */
.page-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}
.page {
  background-color: #fff;
  display: flex;
  flex: 1 0 0%;
  flex-direction:column;
  min-width: 0;
  padding: 10px;
  word-wrap: break-word;
}
.page-body {
  flex: 1 1 auto;
}
.page-footer {
  text-align: left;
}
.page img {
  border: 10px solid rgba(0, 0, 0, 0.05);
  max-width: 100%;
}
.page .page-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.etiquetas {
  font-size: 16px;
  line-height: 1.5
}
.etiquetas span strong {
  color: #242955;
}
.page p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}
.page h3 {
  font-size: 22px;
  color: #242955;
}
.equipamiento {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}
.equipamiento li {
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, .25);
}


/*********
MEDIA QUERIES: pagina responsive
*********/

/* Extra small devices (telefonos en vertical, menos de 576px) */
@media (max-width: 575px) {
  body {
    padding-top: 103px;
  }
  .display-flex {
    justify-content:center;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 10px;
  }
  .logo img {
    width: 250px;
  }
  .banner-inn {
    background-size: 100% 100%;
  }
  .banner-inn h2 {
    display: none;
  }
  .copy {
    text-align: center
  }
  .nav-social {
    flex-direction: row !important;
  }
  .card-group {
    display: block;
    margin: 0 -10px;
  }
  .page-container {
    display: block;
  }
}

/* Small devices (telefonos en horizontal, 576px y para arriba) */
@media (min-width: 576px) and (max-width: 767px) {
  body {
    padding-top: 57px;
  }
  .logo img {
    width: 250px;
  }
  .page-container {
    display: block;
  }
  .card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px)
  }
}

/* Medium devices (tablets, 768px y para arriba)*/
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px y para arriba) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px y para arriba)*/
@media (min-width: 1200px) {

}
